# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# production
/dist

# misc
.DS_Store
.tern-project
.vscode/launch.json
*.tsbuildinfo

# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# local env files
.env
.env*.local

# oclif specific
/tmp
/oclif.manifest.json

# test
coverage

# cache
.cache/

# database
data/url-tracker.db
data/url-tracker.db-shm
data/url-tracker.db-wal